@page "/Can-xac-thuc-email-dang-ky.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác nhận email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn cần truy cập vào email để xác thực tài khoản
</p>

