@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Đã đổi mật khẩu. Nhấn <a asp-page="./Login">vào đây</a> để đăng nhập
</p>
